<%- include ('partials/header') %>

    <main class="container">
        <div><h3 class="error">No se econtró lo deseado, por favor, intente con algo más :)</h3></div>
    </main>

    <%- include ('partials/footer') %>