<footer>
    
    <div>
        
        Elaborado por <a href="mailto:christianjavieruizcortes@gmail.com">Christian Ruiz</a>- Todos los Derechos Reservados © <%= new Date().getFullYear();%>
    </div>
</footer>
</body>

</html>